body {
  margin: 0;
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:lightblue;
  font-family:"comfortaa";
  }
  .imgWrap, .coffee {
    width: 40em;
    height: 40em;;
    background-color:gray;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    border: 1em solidwhite;
    font-family:"Suez One";
  }
  .coffee:active {
    transform: scale(.95);
    transition: 0.1s;
  }
  p{
    font-size: 2em;
    font-family:"comfortaa";
  }

ul,li {
list-style-type: none;
}
.wrap{
width: 50em;
height: 1em;
padding: 0;
  }


 li {
  display: flex;
  height: 5em;
  padding: 10em;
  border: 2px solid black;
  margin: 0;
}
  img {
    height: 15vh;
  }
   h1 {
    margin: 0;
  }

 button{
  font-family: quicksand;
  font-size: 3em;
  background-color:white;
  border-radius: 2px;
  color:tomato;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  font-family:"Suez One";
}


