
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background:linear-gradient(pink,lightblue)no-repeat;
 
}

.card {
  margin:  auto;
  padding: 30px;
  width: 250px;
  height: 350px;
  text-align: center;
  background:linear-gradient(pink,lightblue)no-repeat;
}
#board {
  
  margin: auto;
  width: 162px;
  font-size: 24px;
  background-color: rgba(255,255,255,0.3);
}
.cell {
  position: relative;
  float: left;
  width: 50px;
  height: 38px;
  border: 2px solid #333333;
  padding-top: 12px;
  font-weight: bold;
  cursor: pointer;
}
.x {
  color: white;
  background-color:pink;
}
.o {
  color: white;
  background-color: lightblue;
}
.win {
  color: #333333;
  background-color: lime;
}
.clear {
  clear: both;
}
